<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="stylesheet" type="text/css" href="{% static  'css/style1.css' %}">
</head>
<body>
<div class="form-container">
  <h1>Login</h1>
  <form method = "POST" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="text" name="username" placeholder=" username:" />
    <br>
    <input type="password" name="password" placeholder="Password:"/>
    <br>
    <button class="form-submit-button" type="submit">Login</button>
    <br><hr>
    <p>Don't have an account ?<a href="{% url 'signup' %}" class="login-link">  signup</a></p>
  </form>
</div>
</body>
</html>